<%= simple_form_for(@prescription, :url => medication_secondary_effects_path(@medication), :html => {:class => 'form-horizontal' }) do |form| %>
  <div class="control-group text optional">
    <label class="text optional control-label"><%= t('simple_form.labels.medication.name') %>:</label>
    <div class="controls">
      <p class="text"><%= @medication.name %></p>
    </div>
  </div>
  <div class="control-group text optional">
    <label class="text optional control-label"><%= t('simple_form.labels.medication.generic_name') %>:</label>
    <div class="controls">
      <p class="text"><%= @medication.generic_name %></p>
    </div>
  </div>
  <div class="control-group text optional">
    <label class="text optional control-label" for="prescription_secondary_effects"> 
      <%= t('simple_form.labels.prescription.kwon_secondary_effects') %>
    </label>
    <div class="controls">
        <% @facets.each_with_index do |term, index| %>   
        <div class="known_facet">
          <%= check_box_tag "term_#{index}", term["term"], false, :name => "known_effects[]" %>
          <label for="term_<%= index %>">
            <%= term["term"] %> (<%= term["count"] %>) 
          <label>
        </div>
        <% end %>               
    </div>
  </div>

  <%= form.input :secondary_effects, :as => :text, :input_html => {:class => :span, :id => :secondary_effects_field} %>
  <%= form.input :lat, :as => :hidden %>
  <%= form.input :lng, :as => :hidden %>

  <div class="form-actions">
    <%= form.button :submit, :class => 'btn btn-primary', :id => :submit_with_secondary_effect %>
    <%= link_to t(:cancel), :back , :class=>"btn" %>
  </div>
<% end %>
