<h2><%= t('devise.registrations.edit') %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal'} ) do |f| %>

  <%= f.input :email, :required => true, :autofocus => true %>
  <%= f.input :password, :autocomplete => "off", :hint => t('devise.registrations.leave_blank'), :required => false %>
  <%= f.input :password_confirmation, :required => false %>
  <%= f.input :current_password, :hint => t('devise.registrations.current_password_label'), :required => true %>

  <div class="control-group">
    <div class="controls">
     <%= f.submit t("update"), :class => 'btn btn-custom btn-primary', :disable_with => t("devise.loading") %>
    </div>
  </div>
<% end %>

<p>
  <%= t('devise.registrations.unhappy') %>? 
  <%= link_to t('devise.registrations.cancel_my_account'), registration_path(resource_name), :confirm => t('devise.registrations.confirm'), :method => :delete %>.
</p>
