<%= simple_form_for(@medication, :html => {:class => 'form-horizontal' }) do |form| %>

  <%= form.input :name, :input_html => {:class => :span} %>
  <%= form.input :generic_name, :input_html => {:class => :span} %>
  <%= form.input :secondary_effects, :as => :text, :input_html => {:class => :span}, :hint => "Choose  or enter a secondary effect, seperated by commas" %>
  <%= form.input :lat, :as => :hidden %>
  <%= form.input :lng, :as => :hidden %>
  <div class="form-actions">
    <%= form.button :submit, :class => 'btn btn-primary' %>
    <%= link_to 'Back', :back , :class=>"btn" %>
  </div>
<% end %>
