<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Name</th>
    <th>Generic name</th>
    <th>Secondary effects</th>
    <th></th>
  </tr>

<% @medications.each do |medication| %>
  <tr>
    <td><%= medication.name %></td>
    <td><%= medication.generic_name %></td>
    <td><%= medication.secondary_effects %></td>
    <td>
      <%= link_to 'Show', medication_path(medication.slug) %> | 
      <%= link_to 'Edit', edit_medication_path(medication.slug) %> | 
      <%= link_to 'Destroy', medication_path(medication.slug), confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>
