<h1>Listing medications</h1>
                               
<%= form_tag ("/medications/elastic_search"), :method => 'get' do %>
  <%= label_tag :elastic_query %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag :search %>
<% end %>


<%= render 'list' %>      

<br />

<%= link_to 'New Medication', new_medication_path %>
