<h2>Medication map of <%= @medication.name %></h2>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2 well">
  <% @facets.each do |term| %>   
     <li><%= term["term"] %> (<%= term["count"] %>) </li>
  <% end %>               
    </div>
    <div class="span10">
      <div id='map'><div>
    </div>
  </div>
</div>
<%= content_for :tail do %>
  <%= javascript_tag "Map.init(#{@prescriptions.to_json})" %>
<% end %>

<%= content_for :head do %>
  <script src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false"></script>
<% end %>
