<h2><%= t(:'maps.title', name: "#{@medication.name}/#{@medication.generic_name}") %></h2>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4 well form-search" id="filters">
      <div data-condition="medication_id.eq">
        <%= hidden_field_tag :id, @medication.id %>
      </div>

      <div data-condition="secondary_effects_array.all">
        <h3><%= t(:'simple_form.labels.medication.secondary_effects') %></h3>
        <% @facets.each do |term| %>   
          <label class="checkbox">
            <input type="checkbox" value="<%= term["term"] %>">
            <%= term["term"] %> (<%= term["count"] %>)
          </label><br/>
        <% end %>               
      </div>
      <h3><%= t(:'simple_form.labels.medication.timing') %></h3>
      <div data-condition="created_at.gte">
        <%= t(:from) %> <input id="from" type="date" class="datepicker"/><br/>
      </div>
      <div data-condition="created_at.lte">
        <%= t(:to) %> <input id="to" type="date"  class="datepicker"/><br/>
      </div>
    </div>
    <div class="span8">
      <div id='map'><div>
    </div>
  </div>
</div>
<%= content_for :tail do %>
  <%= javascript_tag "Map.init('#{@medication.slug}')" %>
<% end %>

<%= content_for :head do %>
  <script src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false"></script>
<% end %>
