<h1></h1>

<p>
  <b><%= t('simple_form.labels.medication.name') %>:</b>
  <%= @medication.name %>
</p>

<p>
  <b><%= t('simple_form.labels.medication.generic_name') %>:</b>
  <%= @medication.generic_name %>
</p>

<p>
  <b><%= t('simple_form.labels.medication.nb_users') %>:</b>
  <%= @medication.prescriptions.count %>
</p>
<p>
  <b><%= t('simple_form.labels.medication.secondary_effects') %>:</b>
  <br>
	<ul>
	<% @facets.each do |term| %>   
	   <li><%= term["term"] %> (<%= term["count"] %>) </li>
	<% end %>               
	</ul>
</p>
<%= link_to t(:"medications.add_effects"), new_medication_secondary_effect_path(@medication.slug) %> 
<br/>
<%= link_to t(:back), :back, :class=>"btn" %>
