<div class="medication_show">
  <h2>
    <%= @medication.name %>
    <% unless @medication.generic_name.blank? %>
      <small> - <%= @medication.generic_name %></small>
    <% end %>
  </h2>

  <p>
    <b><%= t('simple_form.labels.medication.nb_users') %>:</b>
    <%= @prescriptions.with_secondary_effects.count %>
  </p>
  <p>
    <b><%= t('simple_form.labels.medication.secondary_effects') %>:</b>
  	<% @facets.each do |term| %>
      <span class="label label-info"><%= term["term"] %> (<%= term["count"] %>) </span>&nbsp;
  	<% end %>
  	</ul>
  </p>
  <% @prescriptions.with_secondary_effects.each do |prescription| %>
    <div class="row well">
      <%= prescription.user.nickname.blank? ? t(:anonymous) : prescription.user.nickname %>
      <% prescription.secondary_effects_array.each do |tag| %>
        <span class="label label-info"><%= tag %></span>
      <% end %>
      <br/>
      <% if prescription.user_agent_info %>
        <span class="label label">
          <%= prescription.user_agent_info['platform']  %>
        </span>&nbsp;
      <% end %>
      <% if prescription.user_agent_info && prescription.user_agent_info['is_mobile'] %>
        <span class="label label-success">
          <%= t(:mobile) %>
        </span>
      <% end %>
    </div>
  <% end %>
  <br/>
  <%= paginate @prescriptions.with_secondary_effects %>
  <% if @prescriptions.with_experience.count > 0 %>
    <h3>Experience</h3>
    <% @prescriptions.with_experience.each do |prescription| %>
      <div class="row well">
        <%= prescription.experience %>
      </div>
    <% end %>
  <% end %>

  <%= render "actions", medication: @medication, with_show: false %>
</div>
