<h1></h1>

<p>
  <b><%= t('simple_form.labels.medication.name') %>:</b>
  <%= @medication.name %>
</p>

<p>
  <b><%= t('simple_form.labels.medication.generic_name') %>:</b>
  <%= @medication.generic_name %>
</p>

<p>
  <b><%= t('simple_form.labels.medication.secondary_effects') %>:</b>
  <br>
  <% @medication.secondary_effects_array.each do |tag| %>
    <span class=""><%= tag %></span><br>
  <% end  %>
</p>

<%= link_to t(:back), :back, :class=>"btn" %>
